<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcfmGnRcVNdYvDOgt95Uk1ET7HBaMHpCc</string>
	<key>GCM_SENDER_ID</key>
	<string>27555716527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>blooddonationqatariphon</string>
	<key>STORAGE_BUCKET</key>
	<string>blooddonationqatariphon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27555716527:ios:2d12ed5200fa455341e35a</string>
</dict>
</plist>